# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Env files
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# OS/Editor
.DS_Store
.vscode/
