name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Lint (ruff)
        run: |
          ruff check app

      - name: Security scan (bandit)
        run: |
          bandit -r app -q -x  bandit.yml

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Compose Build
        run: docker compose build
